.editor-page {
  background-color: white;
  border-radius: 10px;
  min-height: 50vh;
  text-align: left;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;

}
.ce-block:hover {
  background-color: #f5f5f5;
}
.ce-block:focus {
  background-color: transparent;
}
@media (min-width: 651px) {
  .codex-editor--narrow .ce-block--focused {
    margin-right: 0px;
  }
}

.full-page-wrapper {
  max-width: 100%;
}
.pagelet-wrapper {
  max-width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
}
