.editor-page {
  text-align: left;
  width: 100%;
}
.ce-toolbar {
  background-color: white;
  right: 100%;
  
}

  @media (min-width: 651px) {
  .codex-editor--narrow .codex-editor__redactor{
    margin-right: 0px;
  }
} 

