.object-app {
  background-color: white;
  padding: 0px 25px 25px 25px;
  margin-top: 0px;
  height: 100%;
}
.navbar-icon {
  border-radius: 50px;
  color: grey;
  padding: 1px;
  float: left;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-btn {
  background-color: white;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: rgb(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  opacity: 0;
  transform: translateY(50%);
  animation: fadeUp 0.5s ease-out forwards;

  margin-left: 5px;
  margin-right: 5px;
}
.btn-icon {
  width: 24px;
  height: 24px;
  margin: auto;

  font-size: 24px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;

  margin-left: 5px;
  margin-right: 5px;
}
.btn-icon:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.color-picker-cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  padding: 20px;
  background-color: white;
  justify-items: center;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 99;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.grid-cell {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.grid-cell:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.grid-column {
  margin: 10px;
  flex: 1;
}
.icon-set{
  margin-top:10px;
  padding-top: 3px;
}

.grid-container-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}
.grid-col-header {
  margin-right: 10px;
  flex: 1;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.header-last-btn {
  height: 100%;
  float: right;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.header-delete-btn {
  height: 100%;
  width: 10%;
  float: right;
  opacity: 0.5;
}
.header-delete-btn:hover {
  opacity: 1;
}

.header-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
}