.field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.input-card {
    flex-grow: 4;
    line-height: 1.6em;
    outline: none;
    border: 0;
    font-size: 1em;


}
.key-col{
    flex-grow: 1;
    color: #939393
}